{% extends 'detention/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

<div class="col-lg-12">
    <h2>Detentions:</h2>
    <div class="table-responsive">
        <table class="table">
            <th>Detention Assigned:</th>
            <th>Parent's Approval:</th>
            {% for d in det %}
            <tr>
                <td>{{d.detention_date}}</td>
                <td>{% if d.parent_approval %}Yes{% else %}No{% endif %}</td>
            </tr>{% endfor %}
        </table>
    </div>
    <p><a class="btn btn-primary" href="#" role="button">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i> </i></a></p>
</div>

{% endblock %}